@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Caveat";
    src: url("/fonts/Caveat-VariableFont_wght.woff2") format("woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Patrick Hand";
    src: url("/fonts/PatrickHand-Regular.woff2");
  }
}

@layer base {
  @font-face {
    font-family: "Vazir";
    src: url("/fonts/Vazir.woff2");
  }
}

/* to items in sepecialproducts get margin from each other */
.slick-has-margin .slick-slide > div {
  margin: 0 0.5rem;
}
